<h1>{{user.firstName}} {{user.lastName}}'s Account Information</h1>
    <div>
        <p>Full Name: {{user.firstName}} {{user.lastName}}</p>
        <p>Email: {{user.emailAddress}}</p>
        <p>Username: {{user.username}}</p>
        <p>Date of Birth: {{user.dob}}</p>
        <p>Date the account was created: {{user.doc}}</p>
        <p>City: {{user.city}}</p>
        <p>State: {{user.state}}</p>
        <p>Biography: {{user.biography}}</p>
        <h2>Overall Rating: {{user.overallRating}}</h2>
        <div class="row">
        <div class="column">
            <h3>Purchase History</h3>
            <ul class="search">
        {{#each user.purchaseHistory}}
            <li>
                <p>User purchased From: <a href="http://localhost:3000/{{this.username}}" target="_blank">{{this.username}}</a></p>
                <p>Item purchased: {{this.title}}</p>
                <p>Price purchased for: {{this.price}}</p>
                {{!-- <form method="POST" id="listing-form" action="/LeaveReview" enctype="multipart/form-data">
                <label for="returnPolicyInput">Return Policy:</label>
                <textarea id="returnPolicyInput" type="text" name="returnPolicyInput"></textarea><br><br>
                <button type="submit">Register</button> --}}
            </form>
            </li>
        {{/each}}
            </ul>
        </div>
        <div class="column">
            <h3>Sales History</h3>
            <ul class="search">
        {{#each user.salesHistory}}
            <li>
                <p>User sold to: <a href="http://localhost:3000/{{this.username}}" target="_blank">{{this.username}}</a></p>
                <p>Item sold: {{this.title}}</p>
                <p>Price sold for: {{this.price}}</p>
            </li>
        {{/each}}
            </ul>
        </div>
        </div>
         {{#if reviews}}
         <h3>Reviews</h3>
        <ol>
        {{#each reviews}}
        <li class="container">
        <p>{{this.name}}: {{this.message}}</p>
        <p>Rating Given: {{this.rating}}</p>
        </li>
        {{/each}}
        </ol>
        {{else}}
        <p>No Reviews Left</p>
        {{/if}}
    </div>