<h1>Listing Creation</h1>
        <div id="error">
            {{#if error}}
            <p>{{error}}</p>
            {{else}}
            <p></p>
            {{/if}}
        </div>
        <div>
            <form method="POST" id="listing-form" action="/PriceChartSearch" enctype="multipart/form-data">

                <label for="TitleInput">Listing Title:</label>
                <input id="TitleInput" type="text" name="TitleInput" required><br><br>

                <label for="pcIdInput">Price Charts ID:</label>
                <input id="pcIdInput" type="number" name="pcIdInput" required><br><br>

                <label for="conditionInput">Listing's Main Condition:</label>
                <select id="conditionInput" name="conditionInput" required>
                    <option value="">Select a Condition</option>
                    <option value="Brand New">Brand New</option>
                    <option value="Like New/Open Box">Like New/Open Box</option>
                    <option value="Used">Used</option>
                    <option value="For Parts or Not Working">For Parts or Not Working</option>
                </select><br><br>

                <label>Listing's Secondary Conditions:</label><br>
                <label for="Cartridge">Cartridge</label>
                <input id="Cartridge" type="checkbox" name="Cartridge" value="Cartridge"><br>
                <label for="Box">Box</label>
                <input id="Box" type="checkbox" name="Box" value="Box"><br>
                <label for="Case">Case</label>
                <input id="Case" type="checkbox" name="Case" value="Case"><br>
                <label for="Manual">Manual</label>
                <input id="Manual" type="checkbox" name="Manual" value="Manual"><br>
                <label for="Console">Console</label>
                <input id="Console" type="checkbox" name="Console" value="Console"><br>
                <label for="Controller">Controller</label>
                <input id="Controller" type="checkbox" name="Controller" value="Controller"><br>
                <label for="Disc">Disc</label>
                <input id="Disc" type="checkbox" name="Disc" value="Disc"><br>
                <label for="Cables">Cables</label>
                <input id="Cables" type="checkbox" name="Cables" value="Cables"><br>
                <label for="RedemptionCode">Redemption Code</label>
                <input id="RedemptionCode" type="checkbox" name="RedemptionCode" value="RedemptionCode"><br>
                <label for="Other">Other</label>
                <input id="Other" type="checkbox" name="Other" value="Other"><br><br>
                
                <label for="priceInput">Price:</label>
                <input id="priceInput" type="number" name="priceInput" required><br><br>

                <label for="shippingPriceInput">Shipping Price:</label>
                <input id="shippingPriceInput" type="number" name="shippingPriceInput" required><br><br>
                
                <label for="tradesInput">Please Input items you're willing to trade for (seperate the items by a comma):</label>
                <textarea id="tradesInput" type="text" name="tradesInput"></textarea><br><br>
                
                <label for="descriptionInput">Description:</label>
                <textarea id="descriptionInput" type="text" name="descriptionInput" required></textarea><br><br>

                <label for="shipMethodInput">Shipping Method:</label>
                <select id="shipMethodInput" name="shipMethodInput" required>
                    <option value="">Select a Condition</option>
                    <option value="Shipping">Shipping</option>
                    <option value="Local Meetup">Local Meetup</option>
                    <option value="Both Shipping and Local Meetup">Both</option>
                </select><br><br>

                <label for="returnPolicyInput">Return Policy:</label>
                <select id="returnPolicyInput" name="returnPolicyInput" required>
                    <option value="">Select a Condition</option>
                    <option value="No Returns">No Returns</option>
                    <option value="No Preference">No Preference</option>
                    <option value="30 Day Returns (Buyer pays for return shipping)">30 Day Returns (Buyer pays for return shipping)</option>
                    <option value="30 Day Returns (Seller pays for return shipping)">30 Day Returns (Seller pays for return shipping)</option>
                    <option value="60 Day Returns (Buyer pays for return shipping)">60 Day Returns (Buyer pays for return shipping)</option>
                    <option value="60 Day Returns (Seller pays for return shipping)">60 Day Returns (Seller pays for return shipping)</option>
                    <option value="90 Day Returns (Buyer pays for return shipping)">90 Day Returns (Buyer pays for return shipping)</option>
                    <option value="90 Day Returns (Seller pays for return shipping)">90 Day Returns (Seller pays for return shipping)</option>
                </select><br><br>

                <label for="imageInput">Submit images here:</label>
                <input type="file" id="imageInput" name="imageInput" multiple required><br><br>

                <label for="listingTypeInput">Confirm to make listing</label>
                <input id="listingTypeInput" type="checkbox" name="listingTypeInput" value="Sell" required><br><br>

                <button type="submit">Register</button>
            </form>
            <p id="errorType" hidden></p>
            <p id="errorTitle" hidden></p>
            <p id="errorPCID" hidden></p>
            <p id="errorMainCond" hidden></p>
            <p id="errorPrice" hidden></p>
            <p id="errorShipPrice" hidden></p>
            <p id="errorTrades" hidden></p>
            <p id="errorDesc" hidden></p>
            <p id="errorRetPol" hidden></p>
            <p id="errorShipMethod" hidden></p>
            <p id="errorImgs" hidden></p>
            {{#if error}}
            <p>{{error}}</p>
            {{/if}}
               
                <div>
                    {{#if chart}}
                     <h1>Data gathered from Price Charts</h1>
                    <ol>
                        {{#each chart}}
                        <li>
                        <ul class="search">
                            <li class="search">Product Name: {{this.title}}</li><br>
                            <li class="search">Release Date: {{this.releaseDate}}</li><br>
                            <li class="search">Console Name: {{this.consoleName}}</li><br>
                            <li class="search">Genre: {{this.genre}}</li><br>
                            <li class="search">Price Chart ID: {{this.id}}</li><br>
                            <li class="search">Box Only Price: ${{this.boxPrice}}</li><br>
                            <li class="search">Complete in Box Price: ${{this.cibPrice}}</li><br>
                            <li class="search">Game Only Price: ${{this.loosePrice}}</li><br>
                            <li class="search">Manual Only Price: ${{this.manualPrice}}</li><br>
                            <li class="search">New in Box Price: ${{this.newPrice}}</li><br>
                            <li class="search">Graded Price: ${{this.gradedPrice}}</li><br>
                        </ul>
                        </li><br>
                        {{/each}}
                    </ol>
                    {{else}}
                    {{/if}}
                </div>
        </div>
        <script src="../public/js/listingCheck.js"></script>
