<div>
<h1>{{listings.title}}</h1>  
<h2>Listing created by User <a href="http://localhost:3000/ProfilePage/{{username}}" target="_blank">{{username}}</a></h2>
{{#each listings.attachments}}
    <img alt="img" src="{{this}}">
{{/each}} 
</div>
<div class="row">
<div class="column">   
    <ul class="search"> <h1>Listing Information</h1>  
                            <li class="search">Product Name: {{listings.title}}</li><br>
                            <li class="search">Lisitng type: {{listings.listingType}}</li><br>
                            <li class="search">Condition: {{listings.mainCondition}}</li><br>
                            <li class="search">
                                Secondary conditions:
                                <ul>
                                {{#each listings.secondaryCondition}}
                                    <li>{{this}}</li>
                                {{/each}}
                                </ul> 
                            </li><br>
                            <li class="search">Description: {{listings.description}}</li><br>
                            <li class="search">Price: ${{listings.price}}</li><br>
                            {{#if check}}
                                <li class="search">Shipping: ${{listings.shippingPrice}}</li><br>
                                <li class="search">Shipping Methods: {{listings.shippingMethods}}</li><br>
                            {{else}}
                            {{/if}}
                            {{#if tradeCheck}}
                            <li class="search">
                                Viable Trade Options:
                                <ul>   
                                {{#each listings.trades}}
                                    <li>{{this}}</li>
                                {{/each}}
                                </ul>   
                            </li><br>
                            {{else}}
                            <li class="search">No Trade Options Given</li><br>
                            {{/if}}
                            <li class="search">Return Policy: {{listings.returnPolicy}}</li><br>
                            <li class="search">Last time updated: {{listings.timeStampUpdated}}</li><br>
                        </ul>
</div>
<div class="column">
                    {{#if chart}}
                        <ul class="search"><h1>Game listing on Price Charts</h1>
                            <li class="search">Product Name: {{chart.title}}</li><br>
                            <li class="search">Release Date: {{chart.releaseDate}}</li><br>
                            <li class="search">Console Name: {{chart.consoleName}}</li><br>
                            <li class="search">Genre: {{chart.genre}}</li><br>
                            <li class="search">Price Chart ID: {{chart.id}}</li><br>
                            <li class="search">Box Only Price: ${{chart.boxPrice}}</li><br>
                            <li class="search">Complete in Box Price: ${{chart.cibPrice}}</li><br>
                            <li class="search">Game Only Price: ${{chart.loosePrice}}</li><br>
                            <li class="search">Manual Only Price: ${{chart.manualPrice}}</li><br>
                            <li class="search">New in Box Price: ${{chart.newPrice}}</li><br>
                            <li class="search">Graded Price: ${{chart.gradedPrice}}</li><br>
                        </ul><br>
                    {{else}}
                    {{/if}}
                </div><br>
</div>

{{#if ownPoster}}
    <div class="btn-group">
    <button class="purchase" onclick="window.location.href = 'http://localhost:3000/choice/{{listings._id}}'">{{type}}</button>
    </div>
{{else}}
{{/if}}
<div>
    <h2>Current Offers</h2>
    {{#if offers}}
        <ul class="search">
        {{#each offers}}
        <li class="search">
            <h3>Offer From User: {{this.username}}</h3>
            <p>Offer Product: {{this.title}}</p>
            <p>Offer Description: {{this.description}}</p>
            <P>Offer Images:</P>
            {{#each this.attachments}}
                <img alt="img" src="{{this}}">
            {{/each}} 
            {{#if ownPoster}}
            
            {{else}}
            <form method="POST" action="" id="accept-offer-form">
                <label for="acceptOfferInput">Confirm to make listing</label>
                <input id="acceptOfferInput" type="checkbox" name="acceptOfferInput" value="True" required><br><br>
                <button type="submit" >Take Offer</button>
            </form>
            {{/if}}
        </li>
        {{/each}}
        </ul>
    {{else}}
    <p>No Offers Currently</p>
    {{/if}}
</div>
{{#if listings.comments}}
    <h3>Comments</h3>
    {{#each listings.comments}}
        <p>{{this.username}}: {{this.content}}</p>
    {{/each}}
{{else}}
    <h3>No Comments</h3>
{{/if}}
<p id="errorComment" hidden></p>
<form method="POST" id="comment-form" action="">
<label for="commentInput">Leave a comment:</label>
 <textarea id="commentInput" type="text" name="commentInput"></textarea><br>
  <button type="submit">Submit</button>
 </form>
<script src="../public/js/commentCheck.js"></script>
                        
