<h1>{{listings.title}}</h1>  
{{#each listings.attachments}}
    <img alt="img" src="{{this}}">
{{/each}}              
<p >Condition: {{listings.mainCondition}}</p>
<p >Description: {{listings.description}}</p>
<p >Price: ${{listings.price}}</p>
<P >Shipping: ${{listings.shippingPrice}}</P>
<p >Return Policy: {{listings.returnPolicy}}</p>
<p >Last time updated: {{listings.timeStampUpdated}}</p><br>
<div class="btn-group">
<button class="purchase" onclick="window.location.href = 'http://localhost:3000/transaction'">Buy Now</button>
</div>
{{#if listings.comments}}
    <h3>Comments</h3>
    {{#each listings.comments}}
        <p >Username: {{this.content}}</p>
    {{/each}}
{{else}}
    <h3>No Comments</h3>
{{/if}}
<p id="errorComment" hidden></p>
<form method="POST" id="comment-form" action="">
<label for="commentInput">Leave a comment:</label>
 <textarea id="commentInput" type="text" name="commentInput"></textarea><br>
 <div id="ListingId" value="{{listings._id}}"></div>
  <button type="submit">Submit</button>
 </form>
<script src="../public/js/commemtCheck.js"></script>
                        