<h1>{{user.username}}'s Account Information</h1>
<a href="/review/{{user._id}}">Click here to review</a>
    <div>
        <h2>Overall Rating: {{user.overallRating}}</h2>
        <p>Username: {{user.username}}</p>
        <p>Date the account was created: {{user.doc}}</p>
        <p>Biography: {{user.biography}}</p>
        <h3>Reviews</h3>
        {{#if reviews}}
        <ol>
        {{#each reviews}}
        <li class="container">
        <p>{{this.name}}: {{this.message}}</p>
        <p>Rating Given: {{this.rating}}</p>
        </li>
        {{/each}}
        </ol>
        {{else}}
        <p>No Reviews about {{user.username}}</p>
        {{/if}}
    </div>